{% extends "base.html" %}
{% load static %}
{%block loaded_css_files%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
{%endblock%}

{%block loaded_js_files%}
    <script src="{% static 'js/modern.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/funcs.js' %}"></script>
<!--    {{ tag_id|json_script:"tag_id_param" }}-->
<!--    {{ sort|json_script:"sort_param" }}-->
<!--    {{ show_auth_popup_after_success_confirmation|json_script:"show_auth_popup_after_success_confirmation" }}-->
<!--    {{ show_change_pass_popup|json_script:"show_change_pass_popup" }}-->
<!--    {{ cpc_not_exists_anymore|json_script:"cpc_not_exists_anymore" }}-->
    <script src="{% static 'js/for_all.js' %}"></script>

{%endblock%}


{% block main_middle_content %}
    <div id="csrf" style="display:none;">{{ csrf_token }}</div>
    <div id="reg_aj_url" style="display:none;">{% url 'aj_user_reg_process' %}</div>
    <div id="reg_get_param__msg" style="display:none">{{get_param__msg}}</div>
    <div id="reg_get_param__err" style="display:none">{{get_param__err}}</div>

    <div style="width: 724px; margin-left: 130px; text-align: center; margin-top: 10px; font-weight: bold;">რეგისტრაცია</div>
    <form id="reg_form" action="{{site_domain}}/reg_process" method="post">
        {% csrf_token %}
        <div style="margin-top: 80px;">
            <div class="fl" style="width: 130px; margin-left: 270px; font-size:15px;">რეგისტრაციის კოდი:</div>
            <div class="fl" style="width: 230px; "><input type="text" name="reg_code" id="reg_code"  class="reg_auth_field"></div>
            <div class="clear_fl"></div>
        </div>
        <div style="margin-top: 30px;">
            <div class="fl" style="width: 130px; margin-left: 270px; font-size:15px;">მომხმარებლის სახელი:</div>
            <div class="fl" style="width: 230px; f"><input type="text" name="user_name" id="user_name"  class="reg_auth_field"></div>
            <div class="clear_fl"></div>
        </div>
        <div style="margin-top: 30px;">
            <div class="fl" style="width: 130px; margin-left: 270px; font-size:15px;">იმეილი:</div>
            <div class="fl" style="width: 230px; "><input type="text" name="email" id="email"  class="reg_auth_field"></div>
            <div class="clear_fl"></div>
        </div>
        <div style="margin-top: 30px;">
            <div class="fl" style="width: 130px; margin-left: 270px; font-size:15px;">პაროლი:</div>
            <div class="fl" style="width: 230px; "><input type="password" name="pass" id="pass" class="pass_fields reg_auth_field" > </div>
            <div class="fl" style=" width: 200px;">
                <input type="checkbox" id="show_pass"> მაჩვენე პაროლი
            </div>
            <div class="clear_fl"></div>
        </div>
        <div style="margin-top: 30px;">
            <div class="fl" style="width: 130px; margin-left: 270px; font-size:15px;">გაიმეორეთ პაროლი:</div>
            <div class="fl" style="width: 230px;"><input type="password" name="pass2" id="pass2" class="pass_fields reg_auth_field"></div>
            <div class="clear_fl"></div>
        </div>
        <div id="reg_btn">რეგისტრაცია</div>
    </form>

    <div style="width: 724px; margin-left: 150px; text-align: center; margin-top: 20px;">
        <a href="{{site_domain}}/auth">თუ უკვე ხართ რეგისტრირებული, შეგიძლიათ შეხვიდეთ სისტემაში</a>
    </div>
{% endblock %}